
/* General styling */
body {
    font-family: Arial, sans-serif;
}

/* Container for purchase section */
.purchase-container {
    display: flex;
    background: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}

/* Styling for the image section */
.image-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.image-section img {
    width: 350px;
    height: auto;
    border-radius: 10px;
}

/* Styling for the info section */
.info-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-item {
    margin-bottom: 10px;
    font-size: 1.1em;
}

 button#confirmButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    width: 100%; 
    margin-bottom: 4px
}

button#confirmButton:hover {
    background-color: #0056b3;
}
button#confirmButtonC {
    width: 100%; 
    margin-bottom: 4px; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: crimson;
}

button#confirmButtonC:hover {
    background-color: #c0392b;
}
button#cancelButton {
    width: 100%; 
    margin-bottom: 4px; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: coral;
}

button#cancelButton:hover {
    background-color: chocolate;
}


